*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

!ejml-0.24.jar
!jblas-1.2.3.jar
!jcommon-1.0.21.jar
!jfreechart-1.0.17.jar
!la4j-0.4.9.jar
!Jama-1.0.3.jar
!colt.jar
!concurrent.jar
!commons-math3-3.3.jar